<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<iframe src="https://giphy.com/embed/3o6Ztg6PqRlGa76Hyo" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
	  		<h1>Not great, maaaaate</h1>
	  	</div>
	  </div>
</body>
</html>

